body {
  font-family: sans-serif;
  background-color: darkkhaki;
  margin: 1em;
}
nav {
  display: block;
  margin: 1em;
}
nav a {
  text-decoration: none;
  background-color: darkolivegreen;
  color: goldenrod;
  font-size: 1em;
  padding: 0.25em;
  margin: 1.5px;
  border-radius: 0.25em;
  /* display: inline-block; */
}
nav a:hover {
  color: darkgoldenrod;
}

.card {
  margin: 3px 9px 9px 3px;
  padding: 0.5rem;
  border-radius: 1.5rem;
}

thead {
  background-color: black;
  color: white;
}

tbody tr {
  border-bottom: 1px solid black;
}